@media (min-width: 650px) {
  .drik_grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    grid-auto-flow: row dense;
  }
}

.drikkekort {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
}

.drik_item {
  display: flex;
  justify-content: space-between;
  padding: 3% 0;
}

.drik_item :first-child {
  max-width: 35ch;
}

.drik_navn {
  font-weight: bold;
}

.drik_pris {
  color: #666;
}

h4 {
  text-transform: uppercase;
}
