@media (min-width: 800px) {
  .drik_grid {
    display: grid;
    grid-template-columns: 0.1fr 3fr 3fr 0.1fr;
    gap: 5%;
  }
}

.drikkekort {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}

.drik_item {
  font-family: inter;
  font-size: small;
  display: flex;
  justify-content: space-between;
  padding: 2% 0;
}

.drik_item :first-child {
  max-width: 35ch;
}

.bold_tekst {
  font-weight: bold;
}

.drik_pris {
  color: #444;
}

h1 {
  text-align: center;
  font-size: 6rem;
}

h4 {
  text-transform: uppercase;
  font-family: inter;
}

p {
  color: #839f7c;
  font-family: inter;
  max-width: 50ch;
  text-align: center;
  margin: 0 auto;
}

u {
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
}

.drik_img {
  scale: 0.8;
  margin: 0;
  margin-top: 10%;
}
