img {
  width: 100%;
  height: auto;
  display: block;
}
.body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #eee5e2;
}

p {
  color: #839f7c;
  text-align: center;
  font-family: inter;
}
h1 {
  font-family: league gothic;
  color: #839f7c;
  font-size: 6rem;
  text-align: center;
}

u {
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
}
h2,
h3 {
  font-family: inter;
  text-align: center;
}
.psort {
  color: #333;
  font-family: inter;
}

.p1 {
  font-style: italic;
  text-align: center;
  font-family: inter;
  color: black;
  font-size: 0.8rem;
  margin-top: -1%;
  margin-bottom: 2%;
}

.flex {
  display: flex;
  justify-content: space-around;
  margin: 6%;
  gap: 10%;
}
/***** footer i desktop *****/
@media (min-width: 700px) {
  .footer {
    display: flex;
    font-family: inter;
    justify-content: space-around;
    text-align: left;
    font-size: 0.7rem;
    margin-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .footer p {
    text-align: left;
  }
}

.footer p {
  padding: 10px;
  font-size: 0.9rem;
  color: #333;
}
.pkursiv {
  font-style: italic;
}

.aften_tekst {
  max-width: 50ch;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

.retter {
  border: 2px solid #839f7c;
  padding: 30px;
  display: inline-block;
}

.container_retter {
  display: flex;
  justify-content: center;
  align-items: center;
}
